$color-white: #fff;

$color-light: #d7816a;
$color-dark: #bd4f6c;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-black: #000;

//Grid layout
$grid-width: 114rem;
$grid-vertical: 8rem;
$grid-horizontal: 6rem;

$gutter-width: 60px;

